@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    #title{
        text-align: center;
    }

    li{
        display: block;
        justify-content: flex-end;
        padding: 0;
    }

    #sobre{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
        width: 80%;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
        padding: 0;
    }
}